<html>

    <h1>This is Book Now!</h1>
    <form action="#",  method ="POST">
        <label for="childName">First name:</label><br>
        <input type="text" id="childName" name="childName" value="John"><br>

        <label for="parentName">Last name:</label><br>
        <input type="text" id="parentName" name="parentName" value="Doe"><br><br>

        <label for="phoneNo">Last name:</label><br>
        <input type="text" id="phoneNo" name="phoneNo" value="Doe"><br><br>

        <label for="emailId">Last name:</label><br>
        <input type="text" id="emailId" name="emailId" value="Doe"><br><br>
        
        <label for="age">Last name:</label><br>
        <input type="text" id="age" name="age" value="Doe"><br><br>
        
        <label for="courseName">Last name:</label><br>
        <input type="text" id="courseName" name="courseName" value="Doe"><br><br>
        
        <input type="submit" value="Submit">
       </form>
</html>