<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/courses.css">
    <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
  />
    <title>Document</title>
</head>
<body>
   <!--Navbar-->
<div class="nav">
    <div class="two">
      <img src="../static/images/edzetta original logo.png" alt="">
  </div>
  
    <div  id="overlay">
      
      <div class="navcard">
        
      </div>
          
  </div>
  
  
  
    
    
  
  <div class="hb">
    <a id="btnhb" href="#" class="hamburger hide-for-dekstop ">
      <span></span>
      <span></span>
      <span></span> 
    </a>
  </div>
  
  
  
  <div class="one">
    <a href="/" style="text-decoration: none;"> <p>HOME</p></a>
    <a href="courses" style="text-decoration: none;"> <p>COURSES</p></a>
    <a href="blogs" style="text-decoration: none;"> <p>BLOG</p></a>
    <p>ABOUT</p>
  </div>
    <div class="three">
      <img src="../static/images/PHONE 1.png" alt="">
      <p>Request Callback</p>
    </div>
    
  
  </div>
  
  <div id="hm" class="header__menu hide-for-dekstop hide-for-mobile">
    <a href="/" style="text-decoration: none;"> <p>HOME</p></a>
      <a href="courses" style="text-decoration: none;"> <p>COURSES</p></a>
      <a href="blogs" style="text-decoration: none;"> <p>BLOG</p></a>
      <a href="./about.html" style="text-decoration: none;"> <p>ABOUT</p></a>
      <a href="./about.html" style="text-decoration: none;"> <p>REQUEST A CALLBACK</p></a>
      
  </div>
  
  <!--End of Navbar-->

    <!--Course icon-->
    <div class="banner">
           <div class="imgbx">
               <img class="icon" src="../static/images/Scratch-Programming-Tools.png" alt="">
           </div>
    </div>
    <div class="data">
        <div class="btn">
        <button class="b1" style="margin-left: 30%;">Buy Now</button>
        <a href="register" style="text-decoration: none;">  <button  class="b2">Book A Trial</button> </a>
       
    </div>
       </div>
    <!--End Course icon-->

    <!--Course deatils-->
    <div class="details">
    <h2>Scratch Programming </h2>

    <p>Do you want to introduce your child to the creative world of stories and animations in a fun and interactive way?
    </p>

    <h3>Curriculum</h3>

<div class="list-container">
    <ul style=" list-style: none; ">
        <li style="padding-bottom: 10px;">
            <div class="cdet">
                <span>Introduction</span>
                <p>Introduction to programming and Scratch</p>
                </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Sprite </span>
            <p>Selecting and changing of Sprite and Backdrop.
            </p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span> Motion block </span>
            <p>Introduction to blocks of Motion</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>  Project I </span>
            <p>Motion blocks continued and a small project using the blocks
            </p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span style="line-height: 27px;">Costume</span>
            <p>Changing, editing and creating costumes of sprite</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Looks block</span>
            <p>Introduction to blocks of look block and sounds.</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span> Events block</span>
            <p>Introduction to blocks in events section</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span> Control</span>
            <p>Introduction to Blocks in control section</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Event-control</span>
            <p>Revision of event and control blocks and proficiency
            </p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span> Project II </span>
            <p>Project by the student based on all blocks learnt.</p>
        </div>
        </li>

         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span> Sensing </span>
            <p> Sensing block introduction and applications </p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Operators </span>
            <p>Operators block introduction and applications.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Variables</span>
            <p>Variables introduction and application, creating a variable</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span> Revision </span>
            <p>Revision of entire course.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span> Project III</span>
            <p>Full fledged project by the student using all the elements</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>My Block</span>
            <p>Creating student’s own block and using it.</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Extensions </span>
            <p>Introduction to advanced scratch, extensions of scratch</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Final Project</span>
            <p>Final Project by the student, Project proposal and discussion
                operations</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Game </span>
            <p>Developing a small game in scratch</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Game 2.0</span>
            <p>Another game using Scratch</p>
        </div>
        </li>
         <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Revision</span>
            <p>Revision to the entire course</p>
        </div>
        </li>
        <li style="padding-bottom: 10px;">
            <div class="cdet">
            <span>Final project</span>
            <p>Final project submission and suggestions from mentor</p>
        </div>
        </li>
       
    </ul>


</div>
 

</div>

    <!-- script for hamburger -->
    <script>
        const btnhb=document.querySelector('#btnhb');
    const overlay=document.querySelector('#overlay');
    const hm=document.querySelector('#hm');
    btnhb.addEventListener('click' ,function(){
    
     
        
        if(btnhb.classList.contains('open'))
        {
            btnhb.classList.remove('open');
        }
        else
        {
            btnhb.classList.add('open');
        }
    
    
        
        if(overlay.classList.contains('overlay'))
        {
            overlay.classList.remove('overlay');
            overlay.classList.add('fade-out');
        }
        else
        {
            overlay.classList.add('overlay');
        }
    
        if(hm.classList.contains('hide-for-mobile'))
        {
          hm.classList.remove('hide-for-mobile')
        }
    
        else
        {
          hm.classList.add('hide-for-mobile')
        }
      }
    );
    
    
      </script>
</body>
</html>