<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/parent_course.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<!--Navbar-->
<div class="nav">
  <div class="two">
    <img src="./static/images/edzetta original logo.png" alt="">
</div>

  <div  id="overlay">
    
    <div class="navcard">
      
    </div>
        
</div>



  
  

<div class="hb">
  <a id="btnhb" href="#" class="hamburger hide-for-dekstop ">
    <span></span>
    <span></span>
    <span></span> 
  </a>
</div>



<div class="one">
  <a href="/" style="text-decoration: none;"> <p>HOME</p></a>
  <a href="courses" style="text-decoration: none;"> <p>COURSES</p></a>
  <a href="blogs" style="text-decoration: none;"> <p>BLOG</p></a>
  <p>ABOUT</p>
</div>

  <div class="three">
    <img src="../static/images/PHONE 1.png" alt="">
    <p>Request Callback</p>
  </div>
  

</div>

<div id="hm" class="header__menu hide-for-dekstop hide-for-mobile">
  <a href="/" style="text-decoration: none;"> <p>HOME</p></a>
    <a href="courses" style="text-decoration: none;"> <p>COURSES</p></a>
    <a href="blogs" style="text-decoration: none;"> <p>BLOG</p></a>
    <a href="./about.html" style="text-decoration: none;"> <p>ABOUT</p></a>
    <a href="./about.html" style="text-decoration: none;"> <p>REQUEST A CALLBACK</p></a>
    
</div>
<!--End of Navbar-->
    <div class="grid-container">
    <div id="hcourses"  class="grid-item grid-item-3">
        <h1 class="header-three">All Courses</h1>

        <div class="header-text-two">
            <p >
                
            </p>
        </div>

        <div class="trialclass-button">
            <a href="register"><button>Book Free Trial Class</button></a>
            
        </div>

        <div class="courses">

          <div class="ul">
            <ul>
              <li>
                <div class="cc">
                  <div class="course-img">
                      <img style="width: 144px;" src="../static/images/Scratch-Programming-Tools.png" alt="">
                    </div>
                 
                  <div class="fname">
                    <p>
                      Scratch Programming
                    </p>
                  </div>
                  <div class="des">
                    <p>
                      introduce your child to the creative world of stories and
                      animations
                    </p>
                  </div>
                  <div class="view-details">
                    <a href="course1"> <button>View Details</button></a>
                  </div>
                </div>
              </li>
              <li>
                 
            <div class="cc">
              <div class="course-img">
                  <img src="../static/images/MIT_App_Inventor_logo.png" alt="">
                </div>
              <div class="fname">
                <p>
                  App Inventor MIT
                </p>
              </div>
              <div class="des">
                <p>
                  see your children develop block based mobile Apps with
                  deployment on Google Play Store
                </p>
              </div>
              <div class="view-details">
                <a href="course2"> <button>View Details</button></a>
              </div>
            </div>
              </li>

              <li>
                <div class="cc">
                  <div class="course-img">
                      <img style="width: 120px; height: 95px;" src="../static/images/web developnet.png" alt="">
                    </div>
                  <div class="fname">
                    <p>
                      Web Development
                    </p>
                  </div>
                  <div class="des">
                    <p>
                      Your child will be able to build beautiful, interactive websites
                      out of nothing.
                    </p>
                  </div>
                  <div class="view-details">
                    <a href="course3"> <button>View Details</button></a>
                  </div>
                </div>
              </li>

              <li>
                <div class="cc">
                  <div class="course-img">
                      <img src="../static/images/python programming.png" alt="">
                    </div>
                  <div class="fname">
                    <p>
                      Python Programming
                    </p>
                  </div>
                  <div class="des">
                    <p>
                      Students build applications using Programming Concepts in one of
                      the easiest and most powerful text based language
                    </p>
                  </div>
                  <div class="view-details">
                    <a href="course4"> <button>View Details</button></a>
                  </div>
                </div>
    
              </li>
            </ul>
          </div>
          
          
            
            
          </div>
      
       
    </div>
    </div>

      <!-- script for hamburger -->
  <script>
    const btnhb=document.querySelector('#btnhb');
const overlay=document.querySelector('#overlay');
const hm=document.querySelector('#hm');
btnhb.addEventListener('click' ,function(){

 
    
    if(btnhb.classList.contains('open'))
    {
        btnhb.classList.remove('open');
    }
    else
    {
        btnhb.classList.add('open');
    }


    
    if(overlay.classList.contains('overlay'))
    {
        overlay.classList.remove('overlay');
        overlay.classList.add('fade-out');
    }
    else
    {
        overlay.classList.add('overlay');
    }

    if(hm.classList.contains('hide-for-mobile'))
    {
      hm.classList.remove('hide-for-mobile')
    }

    else
    {
      hm.classList.add('hide-for-mobile')
    }
  }
);


  </script>
</body>
</html>